
<div class="container">
    <div class="container" id="contact_container">
      <h3 class="Railway">Contact Us!</h3>
      <hr />
      <p> <span class="contact_info">Phone:</span> (718)-410-6620</p>
      <p> <span class="contact_info">Email:</span> DJsKitchen@gmail.com</p>
      <p> <span class="contact_info">Address:</span> 57 Hemlock St. Valatie, NY, 12184</p>
      <hr />
      <p><a class="btn btn-primary"  ng-click="contact.alert()" role="button" id="ig_button">
        	<span class="glyphicon glyphicon-camera"></span> <span id="ig_button_text">Instagram</span></a></p>
    </div>
</div>
