/*HOME BACKGROUND IMAGE==========================================================*/

#home_page {
  background-image: url("../../../assets/images/rest_background.jpg");
  width: 100%;
  height: 960px;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
}

/*Home Content Container============================================================*/

h1#restaurant_name {
  font-family: 'Paytone One', sans-serif;
  color: white;
}

#welcome {
  float: right;
  padding-right: 2em;
  padding-top: 2em;
  width: 30%;
  height: 100%;
  background-color: #333333;
  border-left: 2px solid black;
  padding-left: 2em;
  color: white;
}

div.home-info {
  border-top: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

div.home-info p {
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
}

div#main-menu {
  padding-bottom: 2em;
  padding-top: 2em;
}

#ampersand {
    color: #61A6FB
}

/*MOBILE RESIZING ===============================================*/

@media only screen and (min-device-width : 320px) and (max-device-width : 580px) {
  #home_page {
    background-image: url("../../../assets/images/rest_background.jpg");
    width: 100%;
    height: 1800px;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1#restaurant_name {
    padding-right: 2em;
    padding-top: 2em;
  }

a.btn {
    font-size: 2em;
    font-weight: bold;
  }


}
